#download-form {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  border-radius: 0 0 10px 10px;
}

#group-select {
  cursor: pointer;
}

.form-elem {
  display: flex;
  flex-direction: column;
  row-gap: .2em;
  padding: .5em;
  margin: 0 auto;
}

.shorter {
  width: 50%;
}

.connections {
  text-align: center;
  width: 100%;
}

.form-control {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: .5em;
}

.add-connection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: .3em;
  margin-bottom: .5em;
  align-items: center;
  text-align: center;
}

.add-connection label {
  font-size: 1.5rem;
}